@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  --primary-blue: rgb(71, 120, 210);
  --hover-blue: rgb(63, 106, 186);
  --hover-gray: rgb(236, 235, 235);
}

button {
  cursor: pointer;
}

.app {
  padding: 2rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.main {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 0;
  }
  .main {
    border: none;
    width: 100%;
  }
}
